body {
    margin: 0;
    background: #70c5ce;
    overflow: hidden;
}

canvas {
    display: block;
    margin: auto;
    background: #4ec0ca;
}

#retryBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 12px 22px;
    font-size: 18px;
    border: none;
    background: #ffcc00;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}
